<h2 class="text-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field d-flex flex-column text-center">
    <%= f.label :name, class: "order-1" %><br />
    <%= f.text_field :name, class: "w-75 mx-auto order-2" %>
  </div>
 
  <div class="field d-flex flex-column text-center">
    <%= f.label :photo, class: "order-1" %><br />
    <%= f.text_field :photo, class: "w-75 mx-auto order-2" %>
  </div>
  
  <div class="field d-flex flex-column text-center">
    <%= f.label :bio, class: "order-1" %><br />
    <%= f.text_field :bio, class: "w-75 mx-auto order-2" %>
  </div>

  <div class="field d-flex flex-column text-center">
    <%= f.label :email, class: "order-1" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-75 mx-auto order-2" %>
  </div>

  <div class="field d-flex flex-column text-center">
    <%= f.label :password, class: "order-1" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "w-75 mx-auto order-2" %>
  </div>

  <div class="field d-flex flex-column text-center">
    <%= f.label :password_confirmation, class: "order-1" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-75 mx-auto order-2" %>
  </div>

  <div class="actions d-flex mt-3">
    <%= f.submit "Sign up", class: "mx-auto" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
