<div class="border p-2 mt-3 " style="background-color:#1156A6">
  <h2 class="text-light"><%= @post.title %> by <%= @post.author.name %></h2>
  <p class="text-end text-light">Comments: <%= @post.commentsCounter ? @post.commentsCounter : "0" %> Likes:<%= @post.likesCounter ? @post.likesCounter : "0" %></p>
  <p class="text-light"><%= @post.text  %></p>
  <%= button_to 'Like', like_path(user_id: @user.id, post_id: @post.id), method: "put", class: 'btn btn-primary' %>
</div>
<% @comments.includes(:author).each do |comment| %>
  <div class="border p-2" style="background-color:#1156A6">
    <p class="text-light"><%= comment.author.name %>: <%= comment.text %></p>
  </div>
<% end %>

<%= render 'shared/new_comment', user: @user, post: @post  %>